<form id="filter-content" style="display:none;" action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <div class="filter-input">
        {{ form.min_value }}
    </div>
    <div class="filter-input">
        {{ form.max_value }}
    </div>
    <div class="filter-input">
        {{ form.mes_initial }}
    </div>
    <div class="filter-input">
        {{ form.mes_final }}
    </div>
    <div class="search-hidden" style="display: none;">
        {{ form.search_input }}
    </div>
    <button type="submit" class="btn btn-success">Filtrar</button>
</form>