<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Economize - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/modal/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/messages.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% include 'nav.html' %}
        <section class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div id="container">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <p>
                    Copyright © 2021 Economize. All rights reserved.
                </p> 
                {% include 'modal/logout_modal.html' %}
                {% include 'modal/filter_modal.html' %}
            </footer>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $("#toggle-sidebar").click(function(){
                    $('#sidebar').toggle("slide", function() {
                        $(this).hide(() => {
                            $('.container').addClass('no-margin');
                            $('.sidebar-control').css('display', 'flex')
                            $('.sidebar-control').css('pointer-events', 'all')
                        });
                    })
                })
                $(".sidebar-control").click(function(){
                    $('#sidebar').toggle("slide", function() {
                        $(this).show(() => {
                            $('.container').removeClass('no-margin');
                            $('.sidebar-control').css('display', 'none')
                        });
                    })
                })
                $(function() {
                    $('.date-picker').datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: "M yy",
                        showButtonPanel: true,
                        currentText: "This Month",
                        monthNamesShort: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                        onChangeMonthYear: function (year, month, inst) {
                            $(this).val($.datepicker.formatDate('01/mm/yy', new Date(year, month - 1, 1)));
                        }
                    }).focus(function () {
                        $(".ui-datepicker-calendar").hide();
                    });
                });
            })
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>