{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/nav.css' %}">
{% endblock %}

{% block content %}
    <div class="navigation">        
            <div class="menu">
            <ul>
                <li class="sidebar-control"><a><i class="mdi mdi-menu"></i></a></li>
                <li><a onclick="select_nav('todas-a')" id="todos-a" class="selected-nav" href="{% url 'home' %}">Todas</a></li>
                <li><a onclick="select_nav('a_pagar-a')" id="a_pagar-a" href="{% url 'home' %}?npago=0">Este mes</a></li>
                <li><a onclick="select_nav('pago-a')" id="pago-a" href="{% url 'home' %}?pago=1">Pago</a></li>
                <li><a onclick="select_nav('em_atraso-a')" id="em_atraso-a" href="{% url 'home' %}?em_atraso=1">Atrasado</a></li>
            </ul>
        </div>
        <hr>
    </div>
    <div class="table">
        <div class="filter">
            <a class="btn" id="filter-bt">
                <i class="mdi mdi-filter-outline"></i> 
                <span>Filtrar</span> 
            </a>
            <form class="search" action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <button type="submit">
                    <i class="mdi mdi-magnify" style="font-size: 28px;"></i>
                </button>
                {{ filtro_form.search_input }}
                <!-- <input type="text" placeholder="Procure por valor, loja ou produto"> -->
            </form>
        </div>
        <form class="form-filtro" action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="form-content">
                <div class="data-inicial">
                    <label for="id_mes_initial">Data Inicial: </label><br>
                    {{ filtro_form.mes_initial }}
                </div>
                <div class="data-final">
                    <label for="id_mes_initial">Data Final: </label><br>
                    {{ filtro_form.mes_final }}
                </div>
                <div class="preco-minimo">
                    <label for="id_max_value"> Preço Mínimo: </label><br>
                    {{ filtro_form.min_value }}
                </div>
                <div class="preco-maximo">
                    <label for="id_max_value"> Preço Máximo: </label><br>
                    {{ filtro_form.max_value }}
                </div>
            </div>
            <div class="submit">
                <button id="btn-cancel" type="button" class="btn btn-info">Voltar</button>
                <button type="submit" class="btn btn-success">Filtrar</button>
            </div>
        </form>
        <table id="table">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <thead>
                <tr class="title">
                    <th></th>
                    <th> Responsavel </th>
                    <th> Produto </th>
                    <th> Loja </th>
                    <th> Valor </th>
                    <th> Pago </th>
                    <th> Data </th>
                </tr>
            </thead>
            <tbody>
                {% for conta in contas %}
                    <tr class="row">
                        <td>
                            {% if not conta.pago %}
                                <input type="checkbox" id='ch_{{ conta.id }}' onclick="separe_data('{{ conta.id }}', 'ch_{{ conta.id }}')">
                            {% else %}
                                <input type="checkbox" class="force-checked" checked>
                            {% endif %}
                        </td>
                        <td>{{ conta.conta_fk.responsavel }}</td>
                        <td>{{ conta.conta_fk.produto }}</td>
                        <td>{{ conta.conta_fk.loja }}</td>
                        <td> <strong>{{ conta.valor }}</strong> <p class="subtitle">BRL</p> </td>
                        <td>
                            {% if conta.pago %}
                                <strong class="pg"> OK </strong> 
                                <p class="subtitle">Pago em {{ conta.data_pago }}</p>  
                            {% else %}
                                <strong class="err"> Erro </strong> 
                                <p class="subtitle">Ainda não foi pago</p>
                            {% endif %}
                        </td>
                        <td>{{ conta.mes }}</td>
                    </tr>
                {% endfor %}
                {% if not contas %}
                    <tr class="row">
                        <td></td>
                        <td> Nenhuma Parcela encontrada </td>
                        <td></td>
                        <td></td>
                        <td> <strong></strong> <p class="subtitle"></p> </td>
                        <td>
                            <strong class="pg"> OK </strong> 
                            <p class="subtitle"></p>
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="footer">
            <form class="pagar-div" action="{% url 'pay-many-parcela' %}" method="POST">
                <div style="display: none;">
                    {% csrf_token %}
                    <input type="text" name='ids' id="checkboxes_input">
                </div>
                <button type="submit" style="justify-self: flex-start;"> Pagar </button>
            </form>
            <p>
                {{ page_obj.number }}-{{ page_obj.paginator.num_pages }} of {{ page_obj.paginator.num_pages }} 
            </p>
            <div class="skip">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number == 1 %}
                    <a class="btn" href="?page=1">
                    {% else %}
                    <a class="btn" href="?page={{ page_obj.previous_page_number }}">
                    {% endif %}
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn" href="?page={{ page_obj.next_page_number }}">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="total">
            <p>Total a pagar: <span class="money">R${{ total }}</span></p>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        var ids = ['todos-a', 'pago-a', 'a_pagar-a', 'em_atraso-a']
        var nav_item = {
            '': 'todos-a',            'pago=1': 'pago-a', 
            'npago=0': 'a_pagar-a',   'em_atraso=1': 'em_atraso-a'
        }
        var url_param = String(window.location.href);
        url_param = url_param.replace('?', '');
        for(var i=1; i<50; i++){
            url_param = url_param.replace('page='+i, '');
        }
        url_param = url_param.split('/');
        const select_nav = () => {
            for (id in ids){
                id = ids[id];
                if (id === nav_item[url_param[3]]){
                    var element = document.getElementById(id);
                    element.className = 'selected-nav';
                } else {
                    var element = document.getElementById(id);
                    element.className = '';
                }
            }
        }

        var list_ids = []
        var input_ids = document.getElementsByName('ids')[0];
        const separe_data = (value, id) => {
            let in_ = false;
            for (i in list_ids){
                if (list_ids[i] === value){
                    let index = list_ids.indexOf(value);
                    list_ids.splice(index);
                    in_ = true;
                }
            }
            let element = document.getElementById(id)
            if (!in_ && element.checked){
                list_ids.push(value)
                input_ids.value = list_ids.join(',');
            }
        }

        $(document).ready(function(){
            $('.force-checked').each(function(index, value){
                $(value).change(function(){
                    $(this).prop('checked', true);
                });
            });
            $('.form-filtro').hide()
            $('#filter-bt').click(() => {
                $('.form-filtro').fadeToggle('slow', 'linear')
            })
            $('#btn-cancel').click(() => {
                $('.form-filtro').fadeToggle('fast', 'linear')
            })
        });

        select_nav()
    </script>
{% endblock %}