{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/filtro.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    <style>
        #id_search_input{
            padding-left: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">
{% endblock %}

{% block content %}
    <div class="navigation">        
        <div class="menu">
            <ul>
                <li class="sidebar-control"><a><i class="mdi mdi-menu"></i></a></li>
                <li><a class="{{ select_este_mes }}" href="{% url 'dividas-este-mes' %}">Este mes</a></li>
                <li><a class="{{ select_home }}"  href="{% url 'home' %}">Todas</a></li>
                <li><a class="{{ select_pagas }}"  href="{% url 'dividas-pagas' %}">Pago</a></li>
                <li><a class="{{ select_atraso }}"  href="{% url 'dividas-em-atraso' %}">Pagar</a></li>
            </ul>
        </div>
        <hr>
    </div>
    <div class="table">
        <div class="filter">
            <a class="btn" id="filter-bt" aria-describedby="tooltip">
                <i class="mdi mdi-filter-outline"></i> 
                <span>Filtrar</span> 
            </a>
            <form class="search" action="{{ action }}" method="POST">
                {% csrf_token %}
                <button type="submit">
                    <i class="mdi mdi-magnify" style="font-size: 28px;"></i>
                </button>
                {{ form.search_input }}
            </form>
        </div>
        <table id="table">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <thead>
                <tr class="title">
                    <th></th>
                    <th> Responsavel </th>
                    <th> Produto </th>
                    <th> Loja </th>
                    <th> Valor </th>
                    <th> Pago </th>
                    <th> Data </th>
                </tr>
            </thead>
            <tbody>
                {% for conta in contas %}
                    <tr class="row">
                        <td>
                            {% if not conta.pago %}
                                <input type="checkbox" id='ch_{{ conta.id }}' onclick="separe_data('{{ conta.id }}', 'ch_{{ conta.id }}')">
                            {% else %}
                                <input type="checkbox" class="force-checked" checked>
                            {% endif %}
                        </td>
                        <td>{{ conta.conta_fk.responsavel }}</td>
                        <td>{{ conta.conta_fk.produto }}</td>
                        <td>{{ conta.conta_fk.loja }}</td>
                        <td> <strong>{{ conta.valor }}</strong> <p class="subtitle">BRL</p> </td>
                        <td>
                            {% if conta.pago %}
                                <strong class="pg"> OK </strong> 
                                <p class="subtitle">Pago em {{ conta.data_pago|date:"d/m/Y" }}</p>  
                            {% else %}
                                <strong class="err"> Erro </strong> 
                                <p class="subtitle">Ainda não foi pago</p>
                            {% endif %}
                        </td>
                        <td>{{ conta.mes }}</td>
                    </tr>
                {% endfor %}
                {% if not contas %}
                    <tr class="row">
                        <td></td>
                        <td> Nenhuma Parcela encontrada </td>
                        <td></td>
                        <td></td>
                        <td> <strong></strong> <p class="subtitle"></p> </td>
                        <td>
                            <strong class="pg"> OK </strong> 
                            <p class="subtitle"></p>
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="footer">
            <form class="pagar-div" action="{% url 'pay-many-parcela' %}" method="POST">
                <div style="display: none;">
                    {% csrf_token %}
                    <input type="text" name='ids' id="checkboxes_input">
                </div>
                <button type="submit" style="justify-self: flex-start;"> Pagar </button>
            </form>
            <p>
                {{ page_obj.number }}-{{ page_obj.paginator.num_pages }} of {{ page_obj.paginator.num_pages }} 
            </p>
            <div class="skip">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number == 1 %}
                    <a class="btn" href="?page=1">
                    {% else %}
                    <a class="btn" href="?page={{ page_obj.previous_page_number }}">
                    {% endif %}
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn" href="?page={{ page_obj.next_page_number }}">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="total">
            <p>A pagar: <span class="money">R${{ total }}</span></p>
            <p>Gasto: <span class="money">R${{ total_gasto }}</span></p>
        </div>
    </div>
    {% include 'popover/popover_filter.html' %}
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
    <script>
        var list_ids = []
        var input_ids = document.getElementsByName('ids')[0];
        const separe_data = (value, id) => {
            let in_ = false;
            for (i in list_ids){
                if (list_ids[i] === value){
                    let index = list_ids.indexOf(value);
                    list_ids.splice(index);
                    in_ = true;
                }
            }
            let element = document.getElementById(id)
            if (!in_ && element.checked){
                list_ids.push(value)
                input_ids.value = list_ids.join(',');
            }
        }
        var slided = true
        $(document).ready(function(){
            $('.force-checked').each(function(index, value){
                $(value).change(function(){
                    $(this).prop('checked', true);
                });
            });
            $('#btn-cancel').click(() => {
                $('.form-filtro').fadeToggle('fast', 'linear')
            })
        });
        $('#filter-bt').webuiPopover({
            placement:'bottom-right',
            url: '#filter-content',
            dismissible: false
        });
        $('.search > #id_search_input').on('input', function() {
            var text = $(this).val()
            $('.search-hidden > #id_search_input').val(text) 
        })
    </script>
{% endblock %}