* {
    margin: 0%;
    padding: 0%;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
nav, ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {
    opacity: 1;
}
html {
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #07172F;
}
header{
    flex-basis: 22%;
    width: 200px;
    height: 100%;
    background-color: #4fd2a6;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
}
.no-margin{
    margin-left: 0 !important;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 3%;
    padding-bottom: 0;
    margin-left: 200px;
}
.container #container{
    width: 100%;
    justify-self: flex-start;
    flex-grow: 1;
}
footer{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    justify-self: flex-end;
    align-self: flex-end;
    text-align: center;
}
footer p{
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}
.btn:active {
    transform: translateX(1px);
}
@media(max-width: 450px) {
    header{
        display: none;
    }
    .container {
        margin-left: 0px !important;
    }
    .skip a i {
        font-size: 1.2rem;
    }
    .skip a:hover i {
        font-size: 1.0rem;
    }
    .navigation ul li{
        text-align: center;
    }
    .table .total {
        font-size: 6rem;
    }
}