.messages {
    width: 59%;
}
.messages .message{
    padding: 0 20px;
    line-height: 40px;
    width: 100%;
    text-align: left;
    list-style: inside;
    border-radius: 5px;
}
.messages .error{
    border: 2px solid #752129;
    background-color:#f8d7da;
    color: #752129;
}
.messages .success{
    border: 2px solid #3e774b;
    background-color:#d4edda;
    color: #3e774b;
}
@media(max-width: 650px) {
    .messages{
        width: 80%;
        font-size: 0.8rem;
    }
    .messages .message{
        line-height: 25px;
        text-justify:initial;
    }
}