.top-bar {
    width: 100%;
    background-color: #0B2853;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 56px;
    border-radius: 4px;
}
.top-bar .title-page{
    color: #65CFD6;
    font-family: manrope;
    font-weight: bold;
    font-size: 18px;
}
.top-bar .novo {
    color: #2E1A68;
    background-color: #65CFD6;
    border: none;
    min-height: 35px;
    width: 122px;
    border-radius: 30px;
    font-weight: bold;
    font-family: manrope;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-bar .sidebar-control{
    color: #a198bb;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.widget-table {
    width: 50px;
    font-size: 0.8rem;
    padding: 3px 5px;
    font-weight: 1000;
    border-radius: 5px;
}
.parcelado {
    background-color: #67b2cf;
    color: #05117e;
}
.avista {
    background-color: #24d1c7;
    color: #05117e;
}
#plus {
    color: #2E1A68;
    display: none;
    align-items: center;
    font-size: 20px;
}