#filter-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
}
#filter-content .filter-input{
    font-size: 12px;
    margin-top: 10px;
    margin: 10px 5px;
    flex-grow: 1;
    min-width: 150px;
}
#filter-content .filter-input input{
    min-height: 40px;
    min-width: 150px;
}
#filter-content button{
    width: 80px;
    min-width: 60px;
    justify-self: flex-end;
}
