body{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.selected-nav{
    color: #24D1C7 !important;
    border-color: #24D1C7 !important;
}
@media(max-width: 700px){
    * {
        font-size: 70%;
    }
    .table .filter .btn span, .novo span{
        padding: 0;
        display: none;
    }
    .table .filter .btn i {
        padding: 0;
    }
    .table .filter .btn {
        min-width: 40px;
        text-align: center;
    }
    .table .filter .search input {
        width: 60%;
    }
    .table .filter .search {
        margin-right: 10px;
    }
    .navigation .menu ul li a:hover {
        color: #24D1C7;
        border-color: #24D1C7;
    }
    .navigation .menu{
        justify-content: center;
    }
    header nav ul i {
        font-size: 2rem;
    }
    .table .footer .pagar-div button{
        font-size: 1.2rem;
    }
    .table .command-button a{
        font-size: 0.7rem;
    }
    .table .command-button .ver, .table .command-button .remover {
        width: 40px;
        margin: 3px;
    }
    .table .column {
        font-size: 0.8rem;
    }
    .novo #plus {
        display: flex;
    }
    .novo {
        width: 40px !important;
        border-radius: 10px;
    }
}

@media(max-width: 900px){
    .table .command-button a{
        font-size: 0.7rem;
    }
    .table .command-button .ver, .table .command-button .remover {
        width: 50px;
        margin: 3px;
    }
    .table .column {
        font-size: 0.8rem;
    }
}