.navigation {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    justify-content: center;
    width: 100%;
}
.navigation hr {
    border: none;
    height: 1px;
    background-color: white;
    width: 100%;
}
.navigation .menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}
.navigation .menu ul {
    flex-basis: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
}
.navigation .menu ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: white;
}
.navigation .menu ul li {
    flex-basis: 25%;
    min-width: 80px;
}
.navigation .menu ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 30px;
    width: 80%;
    text-align: center;
    color: white;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
}
.navigation .menu ul .sidebar-control {
    display: none;
    pointer-events: none;
}
.navigation .menu ul .sidebar-control a i{
    font-size: 1.5rem;
}
.navigation .menu ul li a:hover {
    color: #24D1C7;
    border-color: #24D1C7;
}
@media(max-width: 450px) {
    .navigation .menu ul .sidebar-control {
        font-size: 0.8rem;
        display: initial;
        pointer-events: all;
        flex-basis: 15%;

    }
    .navigation .menu ul, .navigation{
        justify-content: space-around !important;
    }
    .navigation .menu ul li {
        flex-basis: 20%;
        min-width: 60px;
    }
}